@import url('../../../assets/styles/colors.css');

.wrapper {
  position: absolute;
  top: 0;
  margin-top: 56px;
  margin-left: -40px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 10;
  transition: all 2s;
}

.list {
  padding: 10px 8px 0 8px;
  overflow-x: hidden !important;
}

.list::-webkit-scrollbar {
  width: 5px;
}
.list::-webkit-scrollbar-track {
  background: var(--dark-white);
}
.list::-webkit-scrollbar-thumb {
  background-color: var(--minty);
  border-radius: 20px;
}

.preloader {
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: var(--dark-green);
}

.light {
  background-color: var(--dark-white);
}

.emptyTitle {
  font-size: 18px !important;
}
