@import url("../../../assets/styles/colors.css");

.header {
  height: 60px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 2s;
}

.dark {
  background-color: var(--dark_back);
  border-bottom: 1px solid var(--white);
  color: var(--dark-white);
}

.light {
  background-color: var(--white);
  border-bottom: 1px solid gray;
}

.logo {
  cursor: pointer;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo img {
  height: 100%;
}

.auth {
  display: flex;
  gap: 12px;
}

.authLink a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 2s;
}

.authLink a:hover {
  color: blueviolet;
}

.leftPart {
  display: flex;
  gap: 50px;
  height: 100%;
  align-items: center;
}

.themeBtn {
  position: absolute;
  right: 25px;
  top: 54%;
  transform: translate(-50%, -50%);
  height: auto;
}
