.header {
  height: 60px;
  background-color: beige;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.auth {
  display: flex;
  gap: 12px;
}

.authLink a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.authLink a:hover {
  color: blueviolet;
}

.leftPart {
  display: flex;
  gap: 120px;
  height: 100%;
  align-items: center;
}
