@import url("../../../assets/styles/colors.css");

.header {
  height: 60px;
  background-color: var(--white);
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  position: relative;
}

.logo {
  cursor: pointer;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo img {
  height: 100%;
}

.auth {
  display: flex;
  gap: 12px;
}

.authLink a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.authLink a:hover {
  color: blueviolet;
}

.leftPart {
  display: flex;
  gap: 120px;
  height: 100%;
  align-items: center;
}
