.input {
  width: 100%;
  height: 30px;
  padding: 4px 16px;
  font-size: 16px;
  line-height: 19px;
  background-color: gainsboro;
  border-radius: 10px;
  border: 1px gray solid;
}

.input:focus-visible {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  outline: none;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  width: 100%;
  height: 51px;
}
